<!DOCTYPE html>
<html lang="ko">
<head>

     <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>제20대 대통령선거 모의투표 | 내 표가 사표일까? 실제로 확인해보세요!</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css"/>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

</head>
<body>

  1.<div>
      <img class="wiki-image"  width="300px" height="400px" src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FdmIHaZ%2FbtruiSTpq9X%2FSZpxeBTCrrZ2gfPAk0m70K%2Fimg.jpg"  loading="lazy">
      <br>
      <a href="https://namu.wiki/w/%EC%9D%B4%EC%9E%AC%EB%AA%85" title="이재명">1.이재명</a>
      <p><br>위기에 강한 유능한 경제대통령</p>
    대표공약
        <br>1. 사회적 대타협을 통한 공정성장 실현
        <br>2. 경제적 기본권 보장
        <br>3. 보편복지국가 토대 구축
  </div>
  <br>
  2.<div>
  <img class="wiki-image" width="300x" height="400px" src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FAUOie%2FbtrukgTFJNg%2FdKEhk5jSAK8h6V9jVJI6n0%2Fimg.jpg"  loading="lazy">
      <br>
      <a href="https://namu.wiki/w/%EC%9C%A4%EC%84%9D%EC%97%B4" title="윤석열">2.윤석열</a>
      <p><br>국민이 키운, 내일을 바꾸는 대통령</p>
    대표공약
        <br>1. 코로나 극복 긴급구조 및 포스트 코로나 플랜
        <br>2. 지속가능한 좋은 일자리 창출
        <br>3. 수요에 부응하는 주택 250만호 이상 공급
  </div>
<br>
3. <div>
      <img class="wiki-image" width="300px" height="400px" src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FOQwMt%2FbtrunOCsCnS%2FkQJXPiiSmUPF98SvmTvIE1%2Fimg.jpg"  loading="lazy">
      <br>
      <a href="https://namu.wiki/w/%EC%8B%AC%EC%83%81%EC%A0%95" title="심상정">3.심상정</a>
  <p><br>주4일제 복지국가 일하는 시민의 대통령</p>
    대표공약
        <br>1. 정의로운 노동
        <br>2. 정의로운 시간
      <br>3. 정의로운 임금
  </div>
<br>
4. 
  <br>
  5. <div><img class="wiki-image" width="300px" height="400px" src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FlNhil%2Fbtruhwip9hf%2FKRqqKh7VxSvClXGP06yD9K%2Fimg.jpg"  loading="lazy">
      <br>
            <a href="https://namu.wiki/w/%EC%98%A4%EC%A4%80%ED%98%B8" title="오준호">5.오준호</a>
      <p><br>누구나 나답게 기본소득 대한민국</p>
          </div>
  <br>
  6. <div>
      <img class="wiki-image" width="300px" height="400px" src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FdCDF2x%2FbtruhwbCIKn%2FJoveayPCz0pDvbrVy5DlTK%2Fimg.jpg"  loading="lazy">
      <br>
      <a href="https://namu.wiki/w/%ED%97%88%EA%B2%BD%EC%98%81" title="허경영">6.허경영</a>
      <p><br>국가에 돈이 없는 것이 아니라 도둑놈이 많습니다.</p>
    대표공약
        <br>1. 코로나 긴급생계지원금 18세 이상 1억 지급
        <br>2. 18세 이상 매달 150만원 지급
        <br>3. 국회의원 전원 정신교육대 입소</div>
<br>
  7. <div><img class="wiki-image" width="300px" height="400px" src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2Fc3E2UV%2FbtruiRUv4K1%2Fe1aQ2apMYvGB4BdBHB19PK%2Fimg.jpg" loading="lazy">
      <br>
      <a href="https://namu.wiki/w/%EC%9D%B4%EB%B0%B1%EC%9C%A4" title="이백윤">7.이백윤</a>
      <p>계속 이렇게 살거야? 바꾸고 싶다면,사회주의</p>
          </div>
  <br>
  8. <div><img class="wiki-image" width="300px" height="400px" src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FcGzWLe%2FbtrubMfgjL0%2FyCGsQyE0ufGH1XOeI8ygZ0%2Fimg.jpg" loading="lazy">
      <br>
      <a href="https://namu.wiki/w/%EC%98%A5%EC%9D%80%ED%98%B8" title="옥은호">8.옥은호</a>
    <p><br>선거를 국민에게 자유를 국민에게 선관위 개혁, 부정선거 단죄</p>
  </div>
  <br>
  9.
  <br>
  10. <div><img class="wiki-image" width="300px" height="400px" src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FuuQJz%2FbtruiRmhMUN%2FNgCQPXim3oC9riu8xmWXsK%2Fimg.jpg" loading="lazy">
      <br>
      <a href="https://namu.wiki/w/%EA%B9%80%EA%B2%BD%EC%9E%AC" title="김경재">10.김경재</a>
      <p><br>자유대한민국 재건의 선봉장 자유 우파 구국 대통령</p>
          </div>
  <br>
  11. <div>
      <img class="wiki-image" width="300px" height="400px" src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2F6fIDh%2FbtrubieoDSJ%2FKfqyiK65GEUcRVcbylNpq1%2Fimg.jpg" loading="lazy">
      <br>
      <a href="https://namu.wiki/w/%EC%A1%B0%EC%9B%90%EC%A7%84" title="조원진">11.조원진</a>
  <p><br>부정부패 쓰레기정치 확! 개혁적인 자유우파 유일 후보</p>
  </div>
  <br>
  12. <div><img class="wiki-image" width="300px" height="400px" src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FbxZvYN%2FbtrukfNXCrk%2FoI4EcrrY3f90md5s6kKudk%2Fimg.jpg" loading="lazy">
      <br>
      <a href="https://namu.wiki/w/%EA%B9%80%EC%9E%AC%EC%97%B0" title="김재연">12.김재연</a>
      <p><br>당신의 땀이 빛나도록 일하는 사람들의 정치혁명</p>
          </div>
  <br>
  13. <div><img class="wiki-image" width="300px" height="400px" src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FdyKteV%2Fbtruc4NvUvv%2F1MXY3n3X7HhIb59Gu9VdgK%2Fimg.jpg" loading="lazy">
      <br>
      <a href="https://namu.wiki/w/%EC%9D%B4%EA%B2%BD%ED%9D%AC" title="이경희">13.이경희</a>
  <p><br>오직경제! 오직 통일! 국민분열정치 이제 그만,국민통합정치 이제 시작!</p>
  </div>
  <br>
   14. <div><img class="wiki-image" width="300px" height="400px" src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2Fb4AT8e%2Fbtruc7Eg2ik%2FabxizJaKlNMxmo8CCovNC0%2Fimg.jpg" loading="lazy">
      <br>
      <a href="https://namu.wiki/w/%EA%B9%80%EB%AF%BC%EC%B0%AC" title="김민찬">14.김민찬</a>
  <p><br>국가를 지키고 국민을 보호하겠습니다. 새로운 시대! 새로운 나라! 새로운 사람!</p>
  </div>
</body>
</html>
